* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p, li {
	color: #222222;
	font-size: 1em;
	line-height: 2em;
}

ol, ul {
	padding-left: 16px;

	li {
		margin: 4px 0;
	}
}

button {
	background: transparent;
	cursor: pointer;
}
