* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p, li {
	font-size: 1em;
	line-height: 2em;
}

main.light p, main.light li {
	color: #222222;
}

main.night p, main.night li {
	color: #ffffff;
}

ol, ul {
	padding-left: 16px;

	li {
		margin: 4px 0;
	}
}

button {
	background: transparent;
	cursor: pointer;
}
